* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background: white;
    overflow: hidden;
    line-height: 1;
    font: 13.34px/1.4 helvetica,arial,freesans,clean,sans-serif;
    padding: 0px;
    margin: 0px;
}

[disabled=disabled] {
    opacity: 0.5;
}

/*
 * LEFT PANEL
 */
#panel {
    z-index:6000;
    position: fixed;
    top: 60px;
    left: 0;
    background: #EAEAEA;
    border: 1px solid #CCC;
    border-width: 1px 1px 1px 0;
}

#panel ul {
    list-style-type: none;
    padding: 2px;
    margin: 0;
}

#panel li {
    margin-bottom: 5px;
}
#panel li:last-child {
    margin-bottom: 0;
}

#panel li a {
    display: block;
    width: 22px;
    height: 22px;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 2px;
    opacity: 0.8;
}

#panel li a:hover, #panel li a.active {
    opacity: 1;
    border-color: #CCC;
}

#cursor { background-image: url(../img/famfam/cursor.png); }
#add-block { background-image: url(../img/fague/ui-panel.png); }
#add-text { background-image: url(../img/fague/ui-label.png); }
#add-h1 { background-image: url(../img/famfam/text_heading_1.png); }
#add-hr { background-image: url(../img/fague/ui-separator.png); }
#add-vr { background-image: url(../img/fague/ui-vertical-separator.png); }
#add-input { background-image: url(../img/fague/ui-text-field.png); }
#add-checkbox { background-image: url(../img/fague/ui-check-box.png); }
#add-button { background-image: url(../img/fague/ui-button.png); }
#add-select { background-image: url(../img/fague/ui-combo-box.png); }
#add-image { background-image: url(../img/fague/image.png); }
#help { background-image: url(../img/famfam/help.png); }


/*
 * TOP TOOLBAR
 */
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: -webkit-linear-gradient(#FAFAFA 0%, #EAEAEA 100%);
    background: -moz-linear-gradient(#FAFAFA 0%, #EAEAEA 100%);
    padding: 5px;
    z-index: 9000;
    border-bottom: 1px solid #CCC;
}

#top-bar-inner {
    width: 940px;
    margin: 0 auto;
}

.toolbar-icon, .picker-wrapper {
    display: block;
    width: 22px;
    height: 22px;
    border: 1px solid transparent;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    margin-right: 5px;
    position: relative;
    border-radius: 2px;
}

.picker-wrapper {
    width: 20px;
    height: 20px;
}

.toolbar-label-icon {
    cursor: pointer;
    display: block;
    border: 1px solid #CCC;
    background-position: 2px center;
    background-repeat: no-repeat;
    float: left;
    padding-left: 20px;
    width: 60px;
    line-height: 19px;
    height: 22px;
    font-size: 9px;
    border-radius: 3px;
    margin-right: 5px;
    position: relative;
    margin-top:0px;
}

#canvas-width {
    width: 50px;
}

.toolbar-select {
    float: left;
    margin-right: 5px;
}

.toolbar-label-icon:hover, .toolbar-label-icon.active, .toolbar-label-icon:focus,
.toolbar-icon:hover, .toolbar-icon.active {
    opacity: 1;
    border-color: #CCC;
}

.dropdown .inner {
    display: none;
    background: #EAEAEA;
    padding: 10px;
    border-radius: 3px;
    position: absolute;
    top: 33px;
    left: -27px;
    color: #333;
    z-index: 9000;
    border: 1px solid #DDD;
    box-shadow: 1px 1px 1px #666;
}

.inner:after {
    border-color: #EAEAEA transparent;
    border-style: solid;
    content: "";
    display: block;
    position: absolute;
    width: 0;
    border-width: 0 8px 8px;
    bottom: auto;
    left: 30px;
    margin-left: -5px;
    top: -8px;
}

.inner table.values td:first-child {
    text-align: right;
}

.inner .values td {
    padding: 0 5px;
}

.dropdown.active .inner {
    display: block;
}

#header .section {
    float: left;
}

#toggle-grid    { background-image: url(../img/fague/grid.png); }
#bold           { background-image: url(../img/famfam/text_bold.png); }
#italic         { background-image: url(../img/famfam/text_italic.png); }
#underline      { background-image: url(../img/famfam/text_underline.png); }
#text-align-right    { background-image: url(../img/famfam/text_align_right.png); }
#text-align-center   { background-image: url(../img/famfam/text_align_center.png); }
#text-align-left     { background-image: url(../img/famfam/text_align_left.png); }
#align-justify  { background-image: url(../img/famfam/text_align_justify.png); }
#opacity        { background-image: url(../img/fague/layer-transparent.png); }
#letter-spacing { background-image: url(../img/famfam/text_letterspacing.png); }
#line-height    { background-image: url(../img/famfam/text_linespacing.png); }
#font-size      { background-image: url(../img/famfam/text_smallcaps.png); }
#border-radius  { background-image: url(../img/fague/layer-shape-round.png); }
#border-picker  { background-image: url(../img/fague/border-weight.png); }
#lock           { background-image: url(../img/famfam/lock.png); }
#shadow         { background-image: url(../img/fague/layers.png); }
#text-shadow    { background-image: url(../img/fague/edit-shadow.png); }
#send-to-back   { background-image: url(../img/famfam/shape_move_back.png); }
#bring-to-front { background-image: url(../img/famfam/shape_move_front.png); }
#bg-picker, #background-picker, #rule-picker { background-image: url(../img/famfam/paintcan.png); }
#fg-picker      { background-image: url(../img/fague/edit-color.png); }
#css { background-image: url(../img/famfam/css.png); }
#align { background-image: url(../img/famfam/shape_align_left.png); }

#align-top { background-image: url(../img/famfam/shape_align_top.png); }
#align-middle { background-image: url(../img/famfam/shape_align_middle.png); }
#align-bottom { background-image: url(../img/famfam/shape_align_bottom.png); }

#align-left { background-image: url(../img/famfam/shape_align_left.png); }
#align-center { background-image: url(../img/famfam/shape_align_center.png); }
#align-right { background-image: url(../img/famfam/shape_align_right.png); }

#distribute-vertical { background-image: url(../img/fague/ui-splitter-horizontal.png); }
#distribute-horizontal { background-image: url(../img/fague/ui-splitter.png); }
#lorum-ipsum { background-image: url(../img/famfam/text_letter_omega.png); }
#clear-styles { background-image: url(../img/famfam/css_delete.png); }

#canvas-width { background-image: url(../img/fague/application-resize.png); }
#reset-img { background-image: url(../img/fague/image-resize-actual.png); }
#fit-content { background-image: url(../img/fague/image-resize-actual.png); }
#save-data { background-image: url(../img/famfam/disk.png); }

#fg-picker .image, #fg-picker .gradient {
    display: none;
}


.text-preview {
    display: block;
    position: absolute;
    top: -4px;
    left: -8px;
    height: 12px;
    width: 12px;
    background: #333;
    color:white;
    border-radius: 8px;
    font-size: 8px;
    text-align: center;
    font-family: verdana;
}

.picker-preview {
    position:absolute;
    bottom: 2px;
    left: 2px;
    right: 2px;
    height: 4px;
    z-index: 30000;
}

/*
 * MAIN CANVAS
 */
#canvas_wrapper {
    overflow: scroll;
    position: absolute;
    top: 33px;
    left: 0;
    bottom: 0;
    right: 0;
}

#canvas_wrapper.preview {
    top: 0px;
}

#canvas {
    width: 1024px;
    position: absolute;
    left: 50%;
    margin-left: -512px;
    height: 1000px;
    top: 0px;
}

#canvas_copy {
    width: 1024px;
    position: absolute;
    left: 50%;
    margin-left: -512px;
    height: 1000px;
    top: 0px;
    pointer-events: none;
}

#canvas div.html input[type=checkbox] {
    width: 12px;
    height: 12px;
}

#canvas div.html {
    position: relative;
    width: auto;
    height: auto;
}

#canvas div.image.empty {
    background: #EEE url(../img/fague/image.png) no-repeat center center;
}

#canvas div.html input, #canvas div.html select {
    pointer-events: none;
    -moz-user-select: -moz-none;
    display:block;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: -3px 0 0 -3px;
}

#canvas div.block[data-lock=true], #canvas div.text[data-lock=true] {
    pointer-events: none;
}

.shift-down #canvas div.block[data-lock=true],
.shift-down #canvas div.text[data-lock=true] {
    pointer-events: all;
}

#canvas div.block, #canvas div.text, #canvas div.html {
    border: 0 solid black;
    position: absolute;
    left: 50px;
    top: 50px;
    cursor: pointer;
    font-family: Helvetica;
}

#canvas div.block {
    width: 50px;
    height: 50px;
    background: grey;
}

#canvas div.block.selected {
    cursor: move;
}

#canvas div.block.hr {
    height: 1px;
    width: 200px;
    background: transparent;
    padding: 10px 0;
    margin-top: -10px;
}

#canvas div.block.hr .rule {
    height: 1px;
    width: 100%;
    background:black;
}

#canvas div.block.vr {
    width: 1px;
    height: 200px;
    background: transparent;
    padding: 0 10px;
    margin-left: -10px;
}

#canvas div.block.vr .rule {
    width: 1px;
    height: 100%;
    background:black;
}

#canvas div.text {
    min-height: 20px;
}

element.style {
    background: black;
    height: 1px;
    width: 100%;
}

#canvas img {
    display: block;
    width: 100%;
    height: 100%;
    -moz-user-select: -moz-none;
    pointer-events: none;
}

#canvas span {
    pointer-events: none;
    outline:none;
    word-wrap: break-word;
}

#canvas span[contenteditable=true] {
    pointer-events: auto;
}

#canvas textarea {
    border: 0;
    outline: none;
    resize: none;
    font: inherit;
    background: transparent;
}

#canvas textarea {
    display: block;
    width: 100%;
    height: 100%;
}

.handles {
    opacity: 0.5;
}

.handles div {
    background: white;
    height: 7px;
    width: 7px;
    position: absolute;
    border:1px solid black;
}

.handle-nw { top: -8px; left: -8px; cursor: nwse-resize; }
.handle-ne { top: -8px; right: -8px; cursor: nesw-resize; }
.handle-sw { bottom: -8px; left: -8px; cursor: nesw-resize; }
.handle-se { bottom: -8px; right: -8px; cursor: nwse-resize;  }
.handle-n { top: -8px; left: 50%; margin-left: -4px; cursor: ns-resize; }
.handle-e { top: 50%; right: -8px; margin-top: -4px;cursor: ew-resize; }
.handle-s { bottom: -8px; left: 50%; margin-left: -4px; cursor: ns-resize; }
.handle-w { top: 50%; left: -8px; margin-top: -4px; cursor: ew-resize; }

#tabs {
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-align: stretch;
    -webkit-box-orient: horizontal;
    -moz-box-align: stretch;
    -moz-box-orient: horizontal;
    margin-bottom: 10px;
    width: 100%;
}

.tab-link {
    text-align: center;
    border-bottom:1px solid #AAA;
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}
.tab-link.selected {
    border-bottom:3px solid #AAA;
}

form label {
    display: -webkit-box;
    -webkit-box-align: stretch;
    -webkit-box-orient: horizontal;
    display: -moz-box;
    -moz-box-align: stretch;
    -moz-box-orient: horizontal;
}

form label span {
    display:block;
    width: 60px;
}


.grid-overlay {
    height: 100%;
    width: 100%;
    z-index: 5000;
    bottom: 0;
    top: 0;
    position: absolute;
    pointer-events: none;
    display: none;
    pointer-events: none;
    -moz-user-select: -moz-none;
    left: 50%;
}

#selection {
    background: transparent;
    border: 1px dotted #666;
    position: absolute;
    display: none;
    pointer-events: none;
    -moz-user-select: -moz-none;
}

.soft-select {
    opacity: 0.5 !important;
}

/*
 * DIALOGS
 */

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: 9500;
}

.inner-modal {
    background: white;
    width: 700px;
    margin: 80px auto;
    box-shadow: 0 0 10px #000;
    border-radius: 5px;
    border: 4px solid #CCC;
}

.inner-modal h2 {
    margin: 10px;
}

.modal-content{
    padding: 10px;
}

hr {
    border-width: 0;
    border-top: 1px solid #EEE;
    background: transparent;
    height: 0;
}

dl {
    margin: 5px 0;
}

dt {
    background: none repeat scroll 0 0 #333333;
    border-radius: 2px 2px 2px 2px;
    color: #EEEEEE;
    display: inline-block;
    font-family: Monaco,"Courier New","DejaVu Sans Mono",monospace;
    margin: 0;
    min-width: 10px;
    padding: 3px 6px;
    text-align: center;
    text-shadow: 1px 1px 0 #000000;
}

dd {
    color: #666666;
    display: inline;
    margin: 0 0 0 5px;
}

h3 {
    font-size: 14px;
    margin: 0 0 10px;
}

.shortcut-section {
    margin: 10px;
    float: left;
}

#keyboard-placer {
    overflow: auto;
}

#snapx {
    display: none;
    width: 0px;
    border: 1px dashed #999;
    border-width: 0 0 0 1px;
    height: 400px;
    background: transparent;
    position: fixed;
    left: 200px;
    top: 30px;
    height: 100%;
    bottom: 0px;
    z-index: 8000;
}

#snapy {
    display: none;
    width: 0px;
    border: 1px dashed #999;
    border-width: 0 0 1px 0;
    width: 400px;
    background: transparent;
    position: fixed;
    left: 0px;
    width: 100%;
    z-index: 8000;
}

.inner .jscolour {
    background: transparent;
    border: 0px;
    padding: 0px;
}

.toolbar-form {
    display: inline;
    float: left;
    margin-right: 10px;
}

.toolbar-form input {
    margin: 0px;
    padding: 2px;
    border: 1px solid #AAA;
    border-radius: 3px 0 0 3px;
}

.toolbar-form input[type=submit] {
    padding: 2px 5px;
    margin: -5px 0 0 -5px;
    border-radius: 0 3px 3px 0;
    color: white;
    border-left: 0;
    background: -webkit-linear-gradient(90deg,rgb(100,100, 100) 0%,rgb(128,128, 128) 100%)
}

.dropdown textarea, .picker-value {
    width: 100%;
    resize: none;
    border: 1px solid #999;
}

.picker-value {
    margin-bottom: 10px;
}

#css-value {
    width: 250px;
    height: 100px;
    font-family: monospace;
}

.tabs .page {
    display:none;
}


 p { margin: 10px 0 0 0; }

.gradientBox { height: 100%; width: 100%; }
.color-stop { width: 8px; height: 8px; border: 1px solid #999; }
.stops { position: relative; left: -5px; }
.stop-input { visibility: hidden; }

#background-picker .inner {
    width: 240px;
}
.gradient {
    margin-bottom: 10px;
}

#info {
    position: absolute;
    background: yellow;
    z-index: 6000;
    font-family: monospace;
    font-size: 11px;
    padding: 2px;
    border: 1px solid orange;
}

.inner h3, .tabs h3 {
    font-weight: normal;
    font-size: inherit;
    border-bottom: 1px solid #AAA;
    text-align: center;
}

.image-placeholder label {
    display:block;
}
.image-placeholder a {
    color: #999;
    font-size: 11px;
    cursor: pointer;
}
.image-placeholder a:hover {
    text-decoration: underline;
}
.image-placeholder .save {
    float:right;
}
.img-url {
    width: 200px;
}

.align-vertical {
    width: 100px;
}

.clearfix {
    overflow: auto;
}

#used-colours {
    overflow: auto;
    margin-bottom: 0px;
}

.used-colour:nth-child(7) {
    margin-right: 0;
}

.used-colour {
    height: 20px;
    width: 20px;
    float:left;
    margin-right: 11px;
    margin-bottom: 10px;
    border: 1px solid #000;
    background-size: 100%;
}


.color-stop {
    margin-top: 8px;
}

.color-stop:after {
    border-color: #999 transparent;
    border-width: 0 6px 6px;
    bottom: auto;
    left: 50%;
    margin-left: -2px;
    top: -10px;
    content: "";
    border-style: solid;
    display:block;
    margin-top: -9px;
}

.color-stop.selected:after {
    border-color: black transparent;
}

#close-help {
    float:right;
    margin: 12px;
}

#loading {
    position:fixed;
    top:0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.7) url(../img/loading.gif) no-repeat center 80px;
    z-index: 9999;
    text-align: center;
    padding-top: 100px;
}

.border-picker {
    width: 40px;
    height: 40px;
    float:left;
    background:yellow;
    margin-right: 15px;
    margin-left: 5px;
    position: relative;
    top: 20px;
    display:none;
}

.border-picker div {
    position: absolute;
    background: grey;
    height: 15px;
    width:15px;
    border: 1px solid #000;
}

.border-picker .all { top: 10px; left: 10px; z-index: 6 }
.border-picker .top { width: 40px; top:0; left: 0; z-index: 5 }
.border-picker .right { height: 40px; top:0; right: 0; z-index: 4 }
.border-picker .bottom { width: 40px; bottom:0px; left: 0; z-index: 3 }
.border-picker .left { height: 40px; top:0; left: 15; z-index: 7 }

.alert {
    position: fixed;
    top: 50px;
    right: 20px;
    background: #333;
    z-index: 9500;
    padding: 10px 20px;
    color: #DDD;
    border-radius: 5px;
}

.dropdown-arrow {
    cursor: pointer;
    display: block;
    width: 8px;
    height: 9px;
    border: 1px solid transparent;
    background-color: transparent;
    background-position: center 0;
    background-repeat: no-repeat;
    float: left;
    position: relative;
    left: -5px;
    padding-top:9px;
    padding-left:1px;
}

.dropdown-arrow .inner {
    left: -40px;
}

.dropdown-arrow:hover, .dropdown-arrow.active {
    background-color: #EEE;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #333;
}

#align button {
    cursor: pointer;
    width: 21px;
    height: 21px;
    float:left;
    margin: 5px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 0px;
}

#align button:hover {
    background-color: #CCC;
}

#cursor-overlay {
    display:none;
    background: transparent;
}

#home {
    background: #333;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    box-shadow: 1px 1px 3px #333;
    border: 3px solid #CCC;
    border-top: 0px;
    border-radius: 0 0 5px 5px;
    position: fixed;
    top: 0p;
    right: 40px;
    z-index: 9500;
}

#home a {
    color: white;
    text-decoration: none;
}

.close {
    cursor: pointer;
    float:right;
    font-size: 18px;
    margin: 12px;
}

#font-preview-wrapper {
    max-height: 300px;
    overflow-y: scroll;
}

#font-preview {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-top: -5px;
}

#font-preview li {
    padding: 10px;
    font-size: 28px;
    border-bottom: 1px solid #EEE;
}

#font-preview label {
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-align: stretch;
    -webkit-box-orient: horizontal;
    -moz-box-align: stretch;
    -moz-box-orient: horizontal;
    width: 100%;
}
#font-preview li span {
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    overflow:hidden;
    text-overflow: ellipsis;
}
#font-preview li input[type=checkbox] {
    margin-right: 10px;
}

#font-preview-wrapper button {
    padding: 5px;
    width: 100%;
    font-size: 16px;
}

#font-family-wrapper {
  width: 150px;
  height: 22px;
  border: 1px solid #CCC;
  border-radius: 2px;
  margin-right: 10px;
  float:left;
  position: relative;
  line-height: 22px;
  cursor:pointer;
  padding-right: 15px;
}

#font-family-wrapper .inner {
  width: 200px;
}

#font-family-wrapper span {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow:hidden;
  text-indent: 10px;
}

#font-family {
  padding: 0;
  margin: 0;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
}

#font-family-wrapper .arrow-down {
  position: absolute;
  top: 10px;
  right: 5px;
}

#font-family li {
  list-style-type: none;
  font-size: 18px;
  line-height: 20px;
  margin: 5px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow:hidden;
  text-indent: 10px;
}

#font-family li.noresults, #font-family li.loading {
  color: #666666;
  white-space: normal;
  font-size: 12px;
  font-style: italic;
  text-align: center;
  text-indent: 0;
}

#font-family li.noresults:hover, #font-family li.loading:hover {
  background-color: transparent;
}

#font-family li.loading {
  background: transparent url(../img/loading.gif) no-repeat center center;
}

#font-family li:hover {
  background-color: white;
}

#search-fonts {
  width:100%;
  margin: 0 0 5px 0;
}

#show-all-fonts {
  float:right;
  margin-bottom: 10px;
  font-size: 11px;
  line-height: 11px;
  color: rgb(64,158, 205);
  text-decoration: underline;
}

#show-all-fonts.disabled {
  color: lightgray;
}
