html, body {
    width: 100%;
    height: 100%;
    background: #EEE;
    overflow: hidden;
    line-height: 1;
    font: 13.34px/1.4 helvetica,arial,freesans,clean,sans-serif;
    padding: 0px;
    margin: 0px;
}

/*
 * LEFT PANEL
 */
#panel {
    position: fixed;
    top: 80px;
    left: 0;
    background: #DDD;
    border: 1px solid #CCC;
    border-width: 1px 1px 1px 0;
}

#panel ul {
    list-style-type: none;
    padding: 5px;
    margin: 0;
}

#panel li {
    margin-bottom: 5px;
}
#panel li:last-child {
    margin-bottom: 0;
}

#panel li a {
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #DDD;
}

#panel li a:hover, #panel li a.active {
    background-color: #EEE;
}

#cursor { background: url(../img/famfam/cursor.png); }
#add-block { background: url(../img/fague/ui-panel.png); }
#add-text { background: url(../img/text.gif); }
#add-h1 { background: url(../img/famfam/text_heading_1.png); }
#add-hr { background: url(../img/fague/ui-separator.png); }
#add-vr { background: url(../img/fague/ui-vertical-separator.png); }
#add-input { background: url(../img/fague/ui-text-field.png); }
#add-checkbox { background: url(../img/fague/ui-check-box.png); }
#add-button { background: url(../img/fague/ui-button.png); }
#add-select { background: url(../img/fague/ui-combo-box.png); }
#add-image { background: url(../img/fague/image.png); }


/*
 * TOP TOOLBAR
 */
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #DDD;
    height: 19px;
    padding: 5px;
    z-index: 7000;
    border-bottom: 1px solid #CCC;
}

#top-bar-inner {
    width: 800px;
    margin: 0 auto;
}

.toolbar-icon, .picker-wrapper {
    cursor: pointer;
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid transparent;
    background-color: transparent;
    background-position: center 0;
    background-repeat: no-repeat;
    float: left;
    margin-right: 5px;
    position: relative;
}

.picker-wrapper {
    width: 20px;
    height: 20px;
}

.toolbar-label-icon {
    cursor: pointer;
    display: block;
    border: 1px solid #CCC;
    background-position: 2px center;
    background-repeat: no-repeat;
    float: left;
    padding-left: 20px;
    width: 35px;
    line-height: 15px;
    height: 15px;
    font-size: 9px;
    border-radius: 3px;
    margin-right: 5px;
    position: relative;
    margin-top:0px;
    background-color: #CDCDCD;
}

.toolbar-icon.picker {
    text-indent: -999px;
}

.toolbar-select {
    float: left;
    margin-right: 5px;
}

.toolbar-label-icon:hover, .toolbar-label-icon.active, .toolbar-label-icon:focus,
.toolbar-icon:hover, .toolbar-icon.active {
    background-color: #EEE;
}

.dropdown .inner {
    display: none;
    background: #666;
    padding: 10px;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: -127px;
    color:white;
    width: 240px;
}

.inner table td:first-child {
    text-align: right;
}

.inner td {
    padding: 0 5px;
}

.dropdown.active .inner {
    display: block;
}

#header .section {
    float: left;
}

#toggle-grid    { background-image: url(../img/grid.png); }
#bold           { background-image: url(../img/famfam/text_bold.png); }
#italic         { background-image: url(../img/famfam/text_italic.png); }
#underline      { background-image: url(../img/famfam/text_underline.png); }
#align-right    { background-image: url(../img/famfam/text_align_right.png); }
#align-center   { background-image: url(../img/famfam/text_align_center.png); }
#align-left     { background-image: url(../img/famfam/text_align_left.png); }
#align-justify  { background-image: url(../img/famfam/text_align_justify.png); }
#opacity        { background-image: url(../img/fague/layer-transparent.png); }
#letter-spacing { background-image: url(../img/famfam/text_letterspacing.png); }
#line-height    { background-image: url(../img/famfam/text_linespacing.png); }
#font-size      { background-image: url(../img/famfam/text_smallcaps.png); }
#border-width   { background-image: url(../img/fague/border-weight.png); }
#border-radius  { background-image: url(../img/fague/layer-shape-round.png); }
#border-picker  { background-image: url(../img/fague/border-color.png); }
#lock           { background-image: url(../img/famfam/lock.png); }
#shadow         { background-image: url(../img/famfam/contrast.png); }
#text-shadow    { background-image: url(../img/fague/edit-shadow.png); }
#send-to-back   { background-image: url(../img/famfam/shape_move_back.png); }
#bring-to-front { background-image: url(../img/famfam/shape_move_front.png); }
#bg-picker      { background-image: url(../img/famfam/paintcan.png); }
#fg-picker      { background-image: url(../img/fague/edit-color.png); }

.text-preview {
    display: block;
    position: absolute;
    top: -4px;
    left: -8px;
    height: 12px;
    width: 12px;
    background: #333;
    color:white;
    border-radius: 8px;
    font-size: 8px;
    text-align: center;
    font-family: verdana;
}

.picker-preview {
    position:absolute;
    bottom: -1px;
    left: 0px;
    right: 0px;
    height: 4px;
    z-index: 30000;
}

/*
 * MAIN CANVAS
 */
#canvas_wrapper {
    overflow: scroll;
    position: absolute;
    top: 30px;
    left: 0;
    bottom: 0;
    right: 0;
}

#canvas {
    width: 1024px;
    height: 800px;
    background: white;
    margin: 20px auto;
    position:relative;
}

#canvas_copy {
    width: 800px;
    margin: 20px auto;
}

#canvas div.html {
    position: relative;
    width: auto;
    height: auto;
}

#canvas div.image {
    background: #EEE url(../img/fague/image.png) no-repeat center center;
}

#canvas div.html input, #canvas div.html select {
    pointer-events: none;
    -moz-user-select: -moz-none;
    display:block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0px;
    margin: -3px 0 0 -3px;
}

#canvas div.block, #canvas div.text, #canvas div.html {
    border: 0 solid black;
    position: absolute;
    left: 50px;
    top: 50px;
    box-sizing: border-box;
}

#canvas div.block {
    width: 50px;
    height: 50px;
    background: grey;
}

#canvas div.text {
    width: 200px;
}

#canvas span, #canvas img {
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    -moz-user-select: -moz-none;
}

#canvas textarea {
    border: 0;
    outline: none;
    resize: none;
    font: inherit;
    background: transparent;
}

#canvas span, #canvas textarea {
    display: block;
    width: 100%;
    height: 100%;
}

.handles {
    opacity: 0.5;
}

.handles div {
    background: blue;
    height: 6px;
    width: 6px;
    position: absolute;
}

.handle-nw { top: -4px; left: -4px; cursor: nwse-resize; }
.handle-ne { top: -4px; right: -4px; cursor: nesw-resize; }
.handle-sw { bottom: -4px; left: -4px; cursor: nesw-resize; }
.handle-se { bottom: -4px; right: -4px; cursor: nwse-resize;  }
.handle-n { top: -4px; left: 50%; margin-left: -3px; cursor: ns-resize; }
.handle-e { top: 50%; right: -4px; margin-top: -3px;cursor: ew-resize; }
.handle-s { bottom: -4px; left: 50%; margin-left: -3px; cursor: ns-resize; }
.handle-w { top: 50%; left: -4px; margin-top: -3px; cursor: ew-resize; }


#grid-overlay {
    height: 100%;
    width: 1024px;
    margin: 0px auto;
    background: url(../img/16_col.png);
    opacity: 0.5;
    z-index: 5000;
    top: 0;
    position: relative;
}

#selection {
    background: transparent;
    border: 1px dotted #666;
    position: absolute;
    display: none;
    pointer-events: none;
    -moz-user-select: -moz-none;
}

.soft-select {
    opacity: 0.5 !important;
}

/*
 * DIALOGS
 */

.overlay {
    display: none;
    z-index: 5000;
    pointer-events: none;
    -moz-user-select: -moz-none;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.2);
    z-index: 5000;
    display: none;
}

.inner-modal {
    background: white;
    width: 700px;
    margin: 80px auto;
    box-shadow: 0 0 10px #000;
    border-radius: 5px;
    border: 4px solid #CCC;
}

.inner-modal h2 {
    margin: 10px;
}

.modal-content{
    padding: 10px;
}

hr {
    border-width: 0;
    border-top: 1px solid #EEE;
    background: transparent;
    height: 0;
}

dl {
    margin: 5px 0;
}

dt {
    background: none repeat scroll 0 0 #333333;
    border-radius: 2px 2px 2px 2px;
    color: #EEEEEE;
    display: inline-block;
    font-family: Monaco,"Courier New","DejaVu Sans Mono",monospace;
    margin: 0;
    min-width: 10px;
    padding: 3px 6px;
    text-align: center;
    text-shadow: 1px 1px 0 #000000;
}

dd {
    color: #666666;
    display: inline;
    margin: 0 0 0 5px;
}

h3 {
    font-size: 14px;
    margin: 0 0 10px;
}

.shortcut-section {
    margin: 10px;
    float: left;
}

#keyboard-placer {
    overflow: auto;
}

#snapx {
    display: none;
    width: 0px;
    border: 1px dashed #999;
    border-width: 0 0 0 1px;
    height: 400px;
    background: transparent;
    position: absolute;
    left: 200px;
    top: 0px;
    height: 100%;
    bottom: 0px;
    z-index: 8000;
}

#snapy {
    display: none;
    width: 0px;
    border: 1px dashed #999;
    border-width: 0 0 1px 0;
    width: 400px;
    background: transparent;
    position: absolute;
    left: 0px;
    width: 100%;
    z-index: 8000;
}

triangle-isosceles {
	position:relative;
	padding:15px;
	margin:1em 0 3em;
	color:#000;
	background:#666; /* default background for browsers without gradient support */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

/* Variant : for top positioned triangle
------------------------------------------ */

.triangle-isosceles.top {
	background:#666; /* default background for browsers without gradient support */
}

.triangle-isosceles.top:after {
    border-color: #666 transparent;
    border-width: 0 10px 10px;
    bottom: auto;
    left: 50%;
    margin-left: -5px;
    top: -10px;
}
.triangle-isosceles:after {
    border-color: #666 transparent;
    border-style: solid;
    border-width: 15px 15px 0;
    bottom: -15px;
    content: "";
    display: block;
    left: 50px;
    position: absolute;
    width: 0;
}

.inner .jscolour {
    background: transparent;
    border: 0px;
    padding: 0px;
}